<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>playlists</h2>
    <form id="loginForm" action="{{ url_for('playlists.create_playlist') }}" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Create</button>
    </form>
    {%for playlist in playlists%}
        {{playlist}}
    {%endfor%}


</body>
</html>
